*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dbmdl
*.trx
*.scssc
*.lib
*.sbr
obj/
TestData/
RawFiles/
[Rr]elease*/
_ReSharper*/
*.ReSharper
[Tt]est[Rr]esult*
*.tmp

#Custom
ErrorsLog/error-*.xml
*.sdf
Index.dat
Storage.dat
*.orig
node_modules/
bower_components/
.idea/
.sass-cache/
.DS_Store
*.sublime-*
Elmah.Errors/
.vs/
**/packages/**
App_Data/Logs/
error-*.xml

!**/wwwroot
**/wwwroot/*
!**/wwwroot/AppVersion.json

**/connectionstrings.json
**/mailsettings.json
**/appsettings_secret.json
**/cypress/local-config.js
**/cypress/videos/

**/Backoffice/src/ImportedFiles

**/[Rr]esources/[Rr]esource.[Dd]esigner.cs
/src/DiscoveryServer/src/DiscoveryService.Startup/jefile.discovery.db

.yarn
.swc